.terminal-ui
  .panel
    background rgb(51, 51, 51)
    width 100%
    height 100%
    color rgb(200,200,200)
    .btn-toolbar
      margin-right 5px
      &:hover
        opacity 1
  .panel-heading
  .panel-body
    position relative
    ul
      margin-top -40px !important
      list-style-type none
      padding 0
      margin 0
      font-family Consolas, monaco, monospace

